* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:16px;
  padding: 8px;
}

.Grid {
  display: grid;
  width: fit-content;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px;
}

.Cell {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SnakeSegment {
  background-color: red;
  height: 100%;
  width: 100%;
}